web/WEB-INF/wsdl/localhost_8080/BIBLIOTECA01/web.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WEB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WEB/" name=" web">
<types>
<xsd:schema>
<xsd:import namespace="http://WEB/" schemaLocation="http://localhost:8080/BIBLIOTECA01/web?xsd=1"/>
</xsd:schema>
</types>
<message name="Estudiantes">
<part name="parameters" element="tns:Estudiantes"/>
</message>
<message name="EstudiantesResponse">
<part name="parameters" element="tns:EstudiantesResponse"/>
</message>
<message name="LIBRO">
<part name="parameters" element="tns:LIBRO"/>
</message>
<message name="LIBROResponse">
<part name="parameters" element="tns:LIBROResponse"/>
</message>
<message name="FECHA">
<part name="parameters" element="tns:FECHA"/>
</message>
<message name="FECHAResponse">
<part name="parameters" element="tns:FECHAResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="web">
<operation name="Estudiantes">
<input wsam:Action="http://WEB/web/EstudiantesRequest" message="tns:Estudiantes"/>
<output wsam:Action="http://WEB/web/EstudiantesResponse" message="tns:EstudiantesResponse"/>
</operation>
<operation name="LIBRO">
<input wsam:Action="http://WEB/web/LIBRORequest" message="tns:LIBRO"/>
<output wsam:Action="http://WEB/web/LIBROResponse" message="tns:LIBROResponse"/>
</operation>
<operation name="FECHA">
<input wsam:Action="http://WEB/web/FECHARequest" message="tns:FECHA"/>
<output wsam:Action="http://WEB/web/FECHAResponse" message="tns:FECHAResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WEB/web/FECHA/Fault/ParseException"/>
</operation>
</portType>
<binding name="webPortBinding" type="tns:web">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Estudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LIBRO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FECHA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name=" web">
<port name="webPort" binding="tns:webPortBinding">
<soap:address location="http://localhost:8080/BIBLIOTECA01/web"/>
</port>
</service>
</definitions>